[2015-09-11 00:00] pzuraq opened #3 "`tetherClass` is not applied during animations"
Somewhat defeats the purpose of having `tetherClass` in the first place.

[2015-09-17 23:51] pzuraq commented on #3
solved with `targetClass`, now needs to be added to the docs.

[2015-09-25 23:13] #3 closed

[2015-09-27 19:03] btecu opened #5 "It's not working in Safari"
The animations and arrows (css) seems to have some issues with Safari 8.

[2015-09-28 06:18] pzuraq commented on #5
Thanks for pointing this out! I've been testing in Safari 9 on the El Capitan beta, Safari handles fixed element rendering a bit differently than the other major browsers. I'll take a look asap.

[2015-09-29 03:21] pzuraq opened #10 "Use htmlSafe for style bindings"

[2015-09-30 15:33] givanse opened #11 "ghpage improvements"
I think it would be good to add a link to the github project and to mention the supported versions too (I know they are in the README already).

[2015-09-30 18:37] givanse opened #13 "ember 1.12 support"
I don't think `1.12` should be supported, in the long term, but I needed it for a project. So, I made a branch for that, in your `package.json` use:

    "liquid-tether": "givanse/liquid-tether#1.12"

Maybe you would like to merge that branch, not into master of course. Just to keep the branch within the same project for the benefit of any others that still have `1.12` apps.

[2015-10-06 05:17] pzuraq commented on #13
Agreed that Ember 1.12 support is not a long term goal for this library. I think it would be beneficial to keep a branch for 1.12 around for a while though, as long as you or others would be willing to maintain it. I'll take a look at the branch when I get some time, see what I can do!

[2015-10-06 05:18] pzuraq commented on #11
Agreed, and the supported versions in the README need to be updated as well - tests are passing all the way up to Canary now :smile

[2015-10-06 07:07] givanse commented on #13
Alright, I can keep an eye on that branch for a while. Just create the branch in the repo so I can submit the PR for it.

[2015-10-06 16:56] pzuraq commented on #13
I created the branch `ember-1.12` to avoid confusion over which version the branch is referring, PR away

[2015-10-07 00:39] pzuraq opened #14 "contextClass is unset on initial load"
contextClass is unset on first animation, should make use of the firstTime flag.

[2015-10-10 23:57] pzuraq commented on #5
@btecu I haven't been able to find any issues with the animations in Safari 8 on my VM. The CSS for the arrows is definitely off, but that's not a liquid-tether issue. Can you describe the issues you're encountering with more detail?

[2015-10-11 00:27] #5 closed

[2015-10-11 00:48] #11 closed

[2015-10-11 01:04] #10 closed

[2015-10-11 01:15] #14 closed

[2015-10-11 16:17] btecu commented on #5
Here's the arrow issue:
<img width="246" alt="arrow" src="https://cloud.githubusercontent.com/assets/7517745/10417664/dd1d4bc4-7011-11e5-9725-22fb43225d2a.png">

The animation seems to work better now although it looks like it has 5 fps - while on Chrome is smooth:
![anim](https://cloud.githubusercontent.com/assets/7517745/10417666/fe4c9ec6-7011-11e5-86c5-4ed0a6286cd4.gif)

[2015-10-28 13:12] nightire opened #19 "`target` is not a function?"
~~I'm not sure what are the pre-requests for liquid-tether, I've already add liquid-fire and it is working fine, but when I add some transition for liquid-tether, `target(...)` will throw an error that is not a function. So what else should we need to install? Doc seems like not to mention this.~~

Sry, I forget to import 'target'...

[2015-10-28 13:14] #19 closed

[2015-10-29 12:07] KennedyTedesco opened #20 "Ember 2"
First of all I have to say that this is an amazing addon. Can I ask you if you have any plans to support Ember 2?

Cheers!

[2015-11-02 21:49] pzuraq commented on #20
Thanks! Glad you're liking it :smile:

Currently the tests are passing on all versions of Ember >= 1.13.8, which should include 2.0 and 2.1. I haven't personally tested it out much there, but we will be moving our apps over shortly so I should be on that. Are you encountering any bugs or issues with it?

[2015-11-03 13:07] KennedyTedesco commented on #20
Yes, a few issues:

And because of that (I guess) i'm having this one:

But, nevermind, it's good to know you'll be on that soon. :smile:

I'm closing for now. Thanks!

[2015-11-03 13:07] #20 closed

[2015-11-04 01:17] pzuraq commented on #20
Definitely an issue! I'll get on this asap, let you know when I make some progress.

[2015-11-04 01:18] pzuraq opened #21 "DEPRECATION: Using ApplicationInstance.container.lookup is deprecated"
Reported by @KennedyTedesco, found in Ember 2

[2015-11-04 11:50] KennedyTedesco commented on #20
Awesome! Thank you.

[2015-11-05 18:12] pzuraq opened #23 "this.reverse should work OOTB"
Currently a tether needs to observe its context in order to know what animation it should use with something like `toValue` and `fromValue`. Ideally, for the simple case of a modal that just enters and exits the screen, `reverse` should work as one would expect.

[2015-11-05 20:32] #21 closed

[2015-11-05 20:35] knownasilya commented on #23
My workaround looks like this, for anyone interested:

[code]

[2015-11-06 17:14] patrickberkeley opened #24 "`flushQueue` bombing out in integration tests"
For integration tests I'm getting an error on https://github.com/pzuraq/liquid-tether/blob/420b2f35c9fadfb8653f7b2e3f3c50932df42cec/addon/services/liquid-target.js#L49.

The error is `Uncaught TypeError: Cannot read property 'items' of undefined`:

![](https://s3.amazonaws.com/screen-caps/sKiYZ.png)

I logged it out and somehow [`removeItem()`](https://github.com/pzuraq/liquid-tether/blob/420b2f35

[2015-11-06 17:15] jordpo commented on #24
:+1: this

[2015-11-06 18:22] BenjaminHorn opened #25 "Get rid of scrollbar"
Great addon, I really like it. Although on the demo page in the flyout example  http://pzuraq.github.io/liquid-tether/#/examples?a=liquid-wormhole I found the appearing/disappearing scrollbar a little bit disturbing. Is it possible to get rid of it?

I have a routed modal which moves from down to up. During the animation scrollbar appears for a fraction of sec, then hides again, what shakes the wh

[2015-11-06 19:15] BenjaminHorn opened #26 "action on overlay"
Is it possible to add an action to the overlay? I want to close the modal (navigate back in the route hierarchy) when it it is clicked.

[2015-11-10 18:34] knownasilya commented on #26
I would like something similar.

[2015-11-10 20:20] knownasilya commented on #25
Since this addon doesn't provide styles, it's up to the consumer to make those changes. You can do this simply with an `overflow: hidden;` on the `body`.

[2015-11-10 21:47] #26 closed

[2015-11-10 21:52] pzuraq commented on #24
Interesting, @patrickberkeley what version of Ember are you using?

[2015-11-10 22:07] patrickberkeley commented on #24
We're on 2.0.2

[2015-11-10 22:15] pzuraq commented on #24
Cool, will take a look. My gut feeling is that something is getting scheduled on the runloop and running after the container/service has been destroyed, have run into similar problems on integration tests before.

[2015-11-10 22:16] BenjaminHorn commented on #25
taking a closer look at the code, target receive liquid-tether-target class

[code]

[2015-11-10 22:16] #25 closed

[2015-11-10 22:28] patrickberkeley commented on #24
Okay, interesting. Your scenario seems plausible from what I was seeing
while debugging.

On Tue, Nov 10, 2015 at 5:15 PM Christopher Garrett <
notifications@github.com> wrote:

[2015-11-11 00:50] knownasilya commented on #25
Even better!

[2015-11-11 14:37] knownasilya commented on #25
Seems like you'd want to use `overflow-x` if your app scrolls vertically.

[2015-11-14 00:52] BenjaminHorn opened #29 "Modal from modal"
Is it possible to open a routed modal from a routed modal?
now:
**blog/post** shows post in a modal ->
**blog/post/new** blog/post's modal animates out, blog/post/new animates in

Is there a way to open blog/post/new modal on top of blog/post modal?

[2015-11-14 04:13] pzuraq commented on #29
In order to be able to animate between modals, each liquid-target can only display one item at a time. If you want to nest modals you should change the `to` property of the inner modal to a different target. It will automatically be given a higher z-index due to being added later.

[2015-11-17 19:06] pzuraq commented on #29
@BenjaminHorn Do you still need help with this issue? If not I'm going to close

[2015-11-17 19:06] pzuraq opened #31 "Demo app should work on mobile"
The demo app currently hides the menu on mobile, which makes it impossible to navigate.

[2015-11-18 09:02] BenjaminHorn commented on #29
@pzuraq TBH I did not the chance to try it out, and now I have to work on something else. I close it for now, and if I gonna have problem with it, I will report back to you.

[2015-11-18 09:02] #29 closed

[2015-11-19 13:09] ehariprasad commented on #20
Hi,

Am also trying to use it with Ember 2.0 and facing same issue.

Any Updates ?

Thanks,

[2015-11-19 20:55] pzuraq commented on #20
@KennedyTedesco @ehariprasad the issue regarding the instance initializer was solved a while back. If you are using a pre-2.0 version of Ember, you'll still see that deprecation warning because we have to use the old `ApplicationInstance.container.lookup` method unless the new one exists. If you're trying to upgrade you should be in the clear.

As for the `liquid-versions` issue, have you installe

[2015-11-19 21:03] pzuraq commented on #24
@patrickberkeley @jordpo I'm having trouble reproducing this bug, can you post an example test that causes the bug?

[2015-11-20 07:26] ehariprasad commented on #20
Thanks @pzuraq its working like a charm after installing liquid-fire v-0.21.2.

[2015-11-20 22:05] KennedyTedesco commented on #20
Like a charm here :heart:

[2015-12-10 05:36] talhaobject90 opened #32 "Not working on 2.0.2 / 2.x versions"
I wonder liquid-tether not working on ember 2.x versions. The installation and code in the template not raising any errors , but the modal is not showing up any more. Is it needed to copy the css files manually to make it work? . Another ember addon 'ember-modal-dialog' have to do like this to work..

[2015-12-10 19:53] pzuraq commented on #32
You should not have to copy css files, it should automatically compile the css into your main css. You can confirm by looking for the `.liquid-tether` class in the output css that is built.

I've gotten reports about liquid-tether not working on 2.0, but I have not been able to reproduce. Can you give me more specific steps to reproduce this bug?

[2015-12-15 19:54] pzuraq commented on #32
@talhaobject90 Any updates on this? I consider this a high priority issue, especially since you are not the first to report problems, but I still have not been able to reproduce.

[2015-12-15 19:54] pzuraq commented on #24
@patrickberkeley @jordpo Any word on this? I consider Ember 2.0 compatibility a high priority and this issue has been outstanding for a while, but I have not been able to reproduce.

[2015-12-16 08:03] talhaobject90 commented on #32
@pzuraq  , Sorry i was away from this for a couple of day... That's why lost tracking....

[code]

[code]

[code]

[code]

[code]

I tried all examples in the demo site http://pzuraq.github.io/liquid-tether/#/examples?a=hello-world
But none is working..

You could checkout the complete app code here https://github.com/x303/signlab-ember

Thanks

[2015-12-17 21:59] pzuraq commented on #32
Thanks for the response! So to be clear, the demo site is not working for you either?

Can you tell me which browser you are using and which operating system?

I'll probably get to this over the weekend, will update you as soon as I can!

[2015-12-18 05:02] talhaobject90 commented on #32
@pzuraq , Yes the demo site is not working for me at all..

I am using chrome Version 47.0.2526.80 (64-bit) / Ubuntu 14.04 LTS.

Thanks... I love this addon, I will love you see it alive on my site....

[2015-12-18 18:46] pzuraq commented on #32
That's very interesting. Are you running it locally and it's not working? Or are you running it at pzuraq.github.io/liquid-tether? I'm on OSX currently but been meaning to get Ubuntu going again, will install it and take a look this weekend :+1:

[2015-12-19 03:43] talhaobject90 commented on #32
All my attempt on local machine failed, I didn't tried it online yet. I am doing all the examples at pzuraq.github.io/liquid-tether . I don't think, it's bcoz of the OS, have you tried with my package.json /bower.json configuration? (I am trying it with ember 2.0.2 and ember data 2.0)..

I suggest to try one more time before switching to ubuntu. Why to bear that pain changing OS?

Good Luck!!

[2015-12-20 20:46] pzuraq commented on #32
I have run the demo site with Ember 2.0.2 on my local, using ember-try. I'm using Chrome Canary and Chrome 47.0.2526.106 (64-bit) and everything is working as expected. I've been meaning to install a flavor of Linux anyways, so this is kind of an excuse :wink:

I'll let you know if I am able to reproduce with linux. Hopefully we'll get this resolved quickly.

[2015-12-23 15:36] knownasilya opened #33 "Release latest commits"
Would love a version bump :+1:

[2015-12-23 16:50] pzuraq opened #34 "Add blueprint to install Liquid Fire"

[2015-12-23 18:24] pzuraq commented on #33
bumped :+1: :smile:

[2015-12-28 17:57] #33 closed

[2016-01-04 19:31] pzuraq commented on #13
@givanse still waiting on the PR, ember 1.12 support is not a priority for me so I'm going to close this issue. Feel free to reopen if you'd like to add it.

[2016-01-04 19:31] #13 closed

[2016-01-04 19:32] pzuraq commented on #24
Closing this issue as I cannot reproduce locally. Feel free to reopen if it is still occurring for you, definitely a priority.

[2016-01-04 19:32] #24 closed

[2016-01-04 19:33] pzuraq commented on #32
@talhaobject90 Just giving a quick update, was very busy over the holidays but I'm back now and will be working on this over the next couple days. I'll ping you if I'm still unable to reproduce.

[2016-01-05 04:14] talhaobject90 commented on #32
@pzuraq  , Okay Friend , take your own time, i just skipped using this plugin in my current project. Any way i may need it on my next one. Could you give me the way you implemented on the demo app ? (that you told it's working with ember 2.0.2 version , I believe it's not the problem of the Operating system.). Please send me the code you made it worked in ember 2.0.2 version.

Thanks.

[2016-01-08 20:43] pzuraq commented on #32
@talhaobject90 No problem. The demo app's code is located in `/tests/dummy/app`. If you clone the liquid-tether repo, you should be able to launch it by going into the addon's folder and doing `ember s`.

[code]

And then just visit `localhost:4200` like any other ember app.

[2016-01-09 05:01] talhaobject90 commented on #32
@pzuraq ,

I tried cloning the app to my local machine.

Even with ember 1.13 version and 2.2.0 version i am getting this error
[code]

But as you could see ,  my bower includes jquery     "jquery": "^1.11.3", .

What could be wrong here?

[2016-01-09 08:32] pzuraq commented on #32
That's a bug that was just introduced into Ember-CLI. Jquery 1.12 was released and that broke everything. Change the dependency in the app's bower.json to be jquery 1.11.

Best,

- Chris G.

On Jan 8, 2016, 9:01 PM -0800, Mohammed Talha<notifications@github.com>, wrote:

[2016-01-15 12:06] richardvenneman commented on #23
@knownasilya Is this the complete workaround or am I missing something on the component level? Transitions stop working completely when specifying the `toValue`:

[code]

[2016-01-15 16:16] knownasilya commented on #23
Here's a working example https://github.com/knownasilya/bootstrap-modal/blob/master/addon/utils/default-transition.js#L13

[2016-01-15 19:22] pzuraq commented on #23
@richardvenneman you may have to do something like:

[code]

Not sure if the above is completely valid ES6. That should work though, `index` should be increased for every tether added to a target starting at 0, so from 1 -> current.index of the `toValue` would be truthy and current.index of the `fromValue` would be falsy.

[2016-01-17 11:47] richardvenneman commented on #23
@pzuraq unfortunately that did not work (also tried that as per my previous comment).

@knownasilya's trick works though! Thanks a ton.

[code]

[2016-01-18 04:06] pzuraq commented on #23
I just made #36 which adds two new helpers which should make this a bit easier. There is `openTether` which will cause the `use` animation to trigger for all animations on a single target except for when the tether is transitioning out entirely (to an empty state). In that case, the `reverse` transition will be used. A symmetric `closeTether` constraint has also been added.

Would love your though

[2016-01-21 18:51] #23 closed

[2016-01-21 18:55] knownasilya commented on #23
Looks good :+1:

[2016-01-24 20:39] benbabics commented on #32
Bump. @pzuraq have you been able to reproduce this, or has there been a fix? I am using for the first time on a 2.3.0 project, and when I use the liquid-wormhole, it isn't including any CSS. I am using `ember-cli-sass`, so not sure if I need to import anything? Any help is much appreciated.

[2016-01-24 20:46] pzuraq commented on #32
@benbabics still have not beenableto reproduce, I am currently using liquid tether in Ember 2.2+ projects without issue.

I'm curious about the CSS you've mentioned, liquid tether is just an animation layer. The only styles that are included set things like positioning to get the animations working correctly. Are those styles not being included? Or do you mean the styles of the modals/flyouts them

[2016-01-24 20:59] benbabics commented on #32
Ok so there is styling for `.liquid-target` and `.liquid-child`, but there isn't any styling for `.flyout-liquid-target`, `.flyout` and `.modal-backdrop`. Should I style that myself, or is there base styling provided for that? I wasn't sure what to expect, so maybe it's not so much a bug :)

[2016-01-24 21:03] pzuraq commented on #32
Ah, yeah there is no base styling for any of those classes. Liquid tetheris style agnostic, you provide your own styles. That way it doesn't push you into a corner with how to structure your styling :smile:

I will make a note to add that to the documentation. For now you can copy the styles from the dummy app if you'd like to use them as a base to build on. I can also look into adding an option t

[2016-01-24 21:05] benbabics commented on #32
Oh ok... no worries... I can do that myself. I wasn't clear on if there were base styles for this or not. Thx for the clarification.

[2016-01-30 19:35] BenjaminHorn opened #39 "component's size in modal on didInsertElement"
I try to measure the width of a table on didInsertElement. Unfortunately it gives back a negative number. I guess the table is outside the window, and is not rendered properly at the moment when I try to get its width.

[code]

If I call setWidths from didRender, then it works fine, I just have to make my table component rerender after it has already appear in full size in the model. Just for test

[2016-01-30 20:50] pzuraq commented on #39
So the way `liquid-fire` works, it actually inserts the element and then animates it, which oftentimes screws up this type of logic. I actually had to integrate pretty deeply with `liquid-versions` to overcome this problem with animating the targets, there is some self-cleaning logic that has to be applied and it has to be done after animations are complete.

The hooks are in there right now, the

[2016-01-30 22:30] BenjaminHorn commented on #39
I think it worth to mention, that this strategy works on routes with liquid-fire outlets. Only modal routes mess things up.

[2016-02-01 19:55] pzuraq commented on #39
Definitely worth mentioning. That may have to do with the fact that liquid-fire outlets usually have pretty standard rendering rules, just using position relative/absolute to move things around, whereas liquid-tether has to do a fair amount of styling to position things.

Does it work when you use `liquid-wormhole`? I'd be really interested to see if this is a problem caused by `Tether.js`.

[2016-02-02 00:43] BenjaminHorn commented on #39
What do you mean by this?

Here is a screenshot of the structure of the page, if it helps.
![image](https://cloud.githubusercontent.com/assets/5570232/12736176/4c26c0e6-c94e-11e5-8624-7b0800fc3ffb.png)

If it needed, I can make a minimalistic repository to demonstrate the problem.

[2016-02-02 20:35] pzuraq commented on #39
A minimalistic example repo would be great if you have the time, but I'm pretty sure that won't be necessary. I'm thinking that the issue is caused by the styles that either liquid-tether or Tether.js applies to the container elements to position them on the page.

Can you try replacing your `{{#liquid-tether}}` with a `{{#liquid-wormhole}}`? It's the exact same component, but it doesn't use Tethe

[2016-02-02 21:01] admarrs opened #40 "Uncaught TypeError: Cannot read property 'getState' of undefined"
Trying a simple fullscreen-modal example, all seems to work but on insert and removal I get the follwoing error:
[code]
It seems to be due to contextClass being undefined in the liquid-target service:
[code]
Where is the targetClass set?

[2016-02-02 21:19] BenjaminHorn commented on #39
I replaced the model component to `{{#liquid-wormhole}}` but it gives the exact same value (-64) for `width`

[2016-02-02 22:08] pzuraq commented on #40
`targetClass` is set directly on the `liquid-tether` like so

[code]

Strange that it's causing this error, it should be nullable and is null by default. I will look into this asap.

[2016-02-02 22:09] pzuraq commented on #39
Ok, then the problem is definitely being caused by `liquid-tether`s CSS. I'll look into it asap and see if I can come up with a solution. Ideally you won't have to do anything and `didInsertElement` will work as expected.

[2016-02-02 22:26] BenjaminHorn commented on #39
@pzuraq great, thank you!

[2016-02-19 12:31] BenjaminHorn commented on #39
@pzuraq any news on this?

[2016-02-19 18:16] pzuraq commented on #39
Been super busy the past couple weeks, have a new project that I've been working on. I'll have some time this weekend and am planning to take a look and get to the bottom of this then.

Will keep you posted, sorry about the delay!

[2016-02-19 19:02] BenjaminHorn commented on #39
@pzuraq  no problem, and thank you very much!

[2016-02-21 19:13] pzuraq commented on #39
@BenjaminHorn So I've been trying to reproduce this issue and I think the reason why it's happening is when the element is first inserted into the DOM, it is hidden with `display: none;`. The element is then moved to the top level, so Tether.js can position it and liquid-tether can animate it.

Unfortunately I don't really see a direct way around this. Ideally you would not set the width the conta

[2016-02-21 19:18] pzuraq commented on #40
@admarrs it looks like this might be an error caused by the Ember Inspector: https://github.com/emberjs/ember.js/issues/12885

Can you confirm?

[2016-02-21 19:20] pzuraq opened #41 "Update Ember-CLI"
2.3.0 dropped :smile:

[2016-02-21 19:40] pzuraq commented on #32
I looked into this again and am still unable to reproduce the issue. Using the code @talhaobject90 posted above in a fresh app made with `ember new`, everything seems to work. If someone can post a failing example app I'm happy to take a look, but for now I'm cloning this issue.

[2016-02-21 19:40] #32 closed

[2016-02-21 19:53] admarrs commented on #40
For me it turned out to be an issue with my css styling. I was using flexbox for the main body and reverting back to non-flexbox stying got rid of the error.

I can't now re-produce it so am closing the issue.

[2016-02-21 19:53] #40 closed

[2016-02-23 09:00] talhaobject90 commented on #32
@pzuraq , Thanks friend, i know you did the best , No problem, we could look into it later, I will try some thing with another os/combination. Let's close this for now.

[2016-03-12 02:11] pzuraq commented on #41
fixed by #45

[2016-03-12 02:11] #41 closed

[2016-03-12 02:11] pzuraq commented on #31
Closed by #45

[2016-03-12 02:11] #31 closed

[2016-03-12 02:13] pzuraq commented on #39
@BenjaminHorn Closing this issue for now. Let me know if you figure out a way around the problem, I don't believe this is in the scope of `liquid-tether` unfortunately.

[2016-03-12 02:13] #39 closed

[2016-03-25 12:08] epyx25 opened #47 "Overflow hidden"
I use liquid tether often in my projects. Thanks for this great addon!
Today I faced  the following problem. I try to use https://github.com/btecu/ember-cli-bootstrap-datetimepicker in a template but the bootstrap dropdown-menu gets cropped, because `.liquid-container ` has` overflow: hidden`.
![image](https://cloud.githubusercontent.com/assets/17404207/14043922/2bcb36e6-f28a-11e5-8a00-6e40fb23a55

[2016-03-25 17:48] pzuraq commented on #47
Ah yeah, this will be a problem. There are two possible solutions:

1. Use `liquid-tether` for the internal dropdown as well. `liquid-tether`s actually stack in different frames and are managed using the `liquid-target-service` and `liquid-target-container` under the hood, so if you place a `liquid-tether` inside of another `liquid-tether`, it'll appear on a new layer on top of the old one. Howeve

[2016-03-26 08:38] epyx25 commented on #47
Thanks for taking the time to investigate it. For now I force the calendar's orientation to bottom, and I set a minimum height for the `liquid-child`. Not an optimal solution, but it works.

[2016-04-02 21:49] thedrew12 opened #48 "JS and Transitions tabs don't work"
Not able to view your example code for the JS and Transitions tabs when looking at your examples

[2016-04-02 21:52] pzuraq commented on #48
Yeah something's happening there, will get right on it

[2016-04-03 02:33] pzuraq commented on #48
Fixed! Some trickery with events being fired more than once

[2016-04-03 02:33] #48 closed

[2016-04-03 14:50] maerten opened #49 "breaks ember fastboot"
This plugin seems to be incompatible with ember fastboot. (Using ember-cli 2.4.3)

    $ ember fastboot --serve-assets
    Installing FastBoot npm dependencies
    document is not defined
    ReferenceError: document is not defined
    fastboot-dist/fastboot/vendor/tether/tether.js:408:1
    fastboot-dist/fastboot/vendor/tether/tether.js:417:1
    fastboot-dist/fastboot/vendor/tether/tether.js:9:1

[2016-04-03 16:31] pzuraq commented on #49
I'm not sure there's an easy way around this. Tether.js is a hard dependency of liquid-tether, and it does a lot of positioning using the document unfortunately.

Reading through the code, this shouldn't be a problem if you aren't using Liquid Tether for the route you are rendering, references to `document` only start when the functions are actually called. If they still are occurring (i.e. just i

[2016-04-03 16:54] maerten commented on #49
It seems that ember fastboot (jshint?) is doing some checking for any undefined globals. This same issue came up with another plugn (ember-bootstrap) referencing a global 'jQuery' object.

A fix or alternative to tether.js would be great, this library seems to be most developed popup/overlay library available on emberaddons.com, and would benefit greatly from being fastboot compatible. I'd be happ

[2016-04-03 18:21] pzuraq commented on #49
Hmmm, if that's the case there's probably a way we can A. Turn off tethering features if we're rendering with fastboot and B. Tell fastboot it's ok, those hooks won't be being used.

There is another set of problems though as liquid tether uses the didInsertElement hook which is also not supported. I'll have to think about a way to degrade gracefully in Fastboot mode, it's definitely a priority fo

[2016-04-08 18:26] steffenbrem opened #50 "Applying the same animation to multiple targets with dynamic to property"
How can you use `liquid-tether` to bind to target elements inside an each loop and animate them all in the same way? I don't see a way how this can currently be achieved.

[code]

[code]

Simply using `{{liquid-tether to="something"}}` will not work as it will override the outlet and only render the last one.

[2016-04-08 18:39] pzuraq commented on #50
I don't see why not. `liquid-tether` manages a series of layers on a top layer of the DOM, and each tether gets it's own layer. By default the layers shouldn't interact, and there isn't a background element unless you add it via styles (there is one, but it's styles make it effectively invisible).

It seems like you want a tooltip though, can I ask how you want to show these tooltips? Will they al

[2016-04-08 18:51] steffenbrem commented on #50
Thanks for taking time to look into this :smiley:. Just as in your example, my first try was to use the same `to` parameter for every `liquid-tether` component. But it will only render the last one. If I make the `to` parameter unique for every `liquid-tether` component, they will all show correctly. But since the target is used for the animation selector it is not a good solution to make every to

[2016-04-08 18:55] steffenbrem commented on #50
In the image below you can see the result when use the following template (excluded noise to make it more clear):

[code]

![Screen](http://puu.sh/oaYFu/e640f3ebb1.png)

[2016-04-08 18:58] pzuraq commented on #50
Ah yeah, I see what you're getting at. If you are trying to show multiple items at once you will need to have a unique `to` parameter for each `liquid-tether`, and this may be a performance concern.

It still seems like you only want to show one item at a time though, right? Will the user always see that menu, or will they only see it when they hover on the gear?

[2016-04-08 19:02] steffenbrem commented on #50
Well a tooltip was maybe a bad example indeed. In my real application its more a dropdown and multiple dropdowns could be open at the same time (maybe that is my design flaw, idk). It would be cool if you could use the same animation for multiple outlets.

[2016-04-08 19:05] pzuraq commented on #50
Ah, so the root problem is applying the same animation to multiple targets which potentially have a dynamic `to` property, meaning we can't easily match the animation

Ok, that definitely seems like an issue. I'll get to work on a PR to add some sort of matching functionality so you can match on a pattern instead of just on the individual selector.

[2016-04-08 19:06] steffenbrem commented on #50
That would be a very nice feature, I am sure! Thanks for your help. :heart:

[2016-04-14 11:49] lolmaus opened #51 "Tell liquid-tether that modal content width has changed"
Hi!

After a modal is displayed, its content can become wider (as a response to user action).

The modal then becomes misaligned.

At the end of the user's action, I would like to notify liquid-tether that it should recalculate modal size and alignment. How do I do that?

PS When I scroll the page, the modal does realign. I tried doing `$(window).resize()` but it didn't help.

[2016-04-14 17:55] #50 closed

[2016-04-14 18:03] pzuraq commented on #51
This is definitely an issue with Tether.js itself. It isn't able to detect these changes until you scroll (it listens for that event) and then it recalculates.

I think one way we could solve the issue is by adding a hook to listen for changes in size, maybe something like:

[code]

[2016-04-15 07:41] lolmaus commented on #51
Is there a way to trigger the scroll event for Tether.js to react to?

[2016-04-15 15:55] lukeclewlow commented on #51
Can call `Tether.position()` which will reposition all tethered elements. http://github.hubspot.com/tether/overview/repositioning/

[2016-04-15 16:02] lolmaus commented on #51
@lukeclewlow Thx, that seems to be exactly what I need! :bow:

How do I access `Tether`? Can I import it instead of using a global?

PS You can use "Close and comment" when answering.

[2016-04-15 16:17] lukeclewlow commented on #51
I'm not too sure on how to import instead of using a global, was just having the same problem and stumbled across that in Tether docs. Let me know if you find a good way though. I found I also had to wrap it in an `Ember.run.later` to make it work.

[2016-04-15 16:30] lukeclewlow commented on #51
It is also a jump, and I would like the repositioning to be an animation. Is there any way to animate the repositioning?

[2016-04-16 16:02] pzuraq commented on #51
@lukeclewlow you could potentilly animate between modal states using different modals entirely (check the fly-to examples), or if that won't suite your needs you could also drop liquid-tether and just use a liquid-wormhole. For modals it can be enough if all you need is the modal to be centered.

Importing Tether.js isn't really a possibility right now, but I'm looking into it for fastboot compati

[2016-04-18 09:06] lukeclewlow commented on #51
@pzuraq that seems to work great, have used your fly-to example minus the actual fly-to animation! thanks for your help!

[2016-04-18 16:59] pzuraq commented on #51
@lukeclewlow Awesome! 😄

I'm going to close this issue for now, since there are ways to solve it using the global Tether object and using fly-to animations and multiple modals. When I get to the refactor for Fastboot, I'll revisit this and figure out a way to trigger the change event without a global Tether object.

[2016-04-21 10:50] ynnoj commented on #49
This is [fixed](https://github.com/HubSpot/tether/blob/v1.2.0/src/js/tether.js#L24-L37) in `tether.js` 1.2.0.

I have a working, tested fork of the add-on (https://github.com/ynnoj/liquid-tether/commit/1a03ae17e1f2fb079bdaa4bcd741d2bf42482954).

@pzuraq The projects current dependency is your fork of `tether.js` that is quite far behind master. Not sure how you want to proceed.

[2016-04-21 15:31] pzuraq commented on #49
Will update my Tether.js fork today! Thanks for bringing this up!

[2016-04-22 06:11] pzuraq commented on #49
Updated Tether.js and merged the latest. Let me know if this solves the fastboot problem, would love for it to be that easy!

[2016-04-22 15:27] ynnoj commented on #49
Maybe not :(

[2016-04-22 18:39] pzuraq commented on #49
I figured it might not 😕

The core problem is that `liquid-wormhole` itself performs a lot of DOM manipulation, and that simply isn't available in fastboot. I'd like to solve this issue, but I'm not quite sure how to do it yet.

In an ideal world, I think we would render the page without doing anything at all essentially, and then once the page is loaded `liquid-tether` would kick in begin doing i

[2016-04-25 21:19] lolmaus opened #54 "CSS transform makes modal look blurry in Chrome"
Here's how my modal looks:

![image](https://cloud.githubusercontent.com/assets/200884/14799113/a3e1a238-0b43-11e6-92ab-66b762dcc028.png)

Here's how it looks after disabling the inline style applied to the `.liquid-tether-element`:

![image](https://cloud.githubusercontent.com/assets/200884/14799141/b977cc62-0b43-11e6-99c6-c76377914572.png)

I've tried a couple of fixes from StackOverflow but the

[2016-04-26 01:07] pzuraq commented on #54
Unfortunately the inline styles that are applied here are applied by Tether.js and this project does not have any influence over how they do their positioning. I'd suggest opening an issue on the Tether project, or rolling your own positioning logic and using [liquid-wormhole](https://github.com/pzuraq/liquid-wormhole), which provides the animation without rhe positioning.

[2016-04-26 01:08] #54 closed

[2016-04-26 01:10] pzuraq commented on #54
Just curious, what platform is this occuring on? I haven't noticed any blurring issues but I'm on Mac, this might also be considered a Chrome bug.

[2016-04-27 18:47] davidpett commented on #49
@pzuraq I just submitted https://github.com/pzuraq/liquid-wormhole/pull/4 that fixes liquid-wormhole for fastboot compliancy

[2016-04-28 03:08] pzuraq commented on #49
Merged @davidpett's PR, he's reporting that liquid-tether works with fastboot now! I'll be trying it out soon, closing this issue for now.

[2016-04-28 03:08] #49 closed

[2016-04-28 03:08] pzuraq commented on #47
@epyx25 Going to close this issue for now, let me know if it's still a problem for you.

[2016-04-28 03:08] #47 closed

[2016-05-08 21:38] BenjaminHorn opened #55 "outlet in modal"
I have a list view with an outlet in the route _/partners_. If one of the items is clicked it routes to eg.  _/partners/1_, which is a liquid tether modal. In the modal I have a tab, with some routes and an outlet. If I route to _/partners/1/addresses_, I can see the **addresses.hbs** in the modal's outlet **and** the _/partners_'s outlet too. Obviously I want to see the content **only** in the mo

[2016-05-09 17:30] pzuraq commented on #55
This one's going to be pretty nasty I bet...

Can you tell me what versions of Ember and Ember CLI you're on? One simple thing we can do is make sure we hide the original outlet using CSS, but then we're attaching the DOM nodes there so that's probably a performance concern. For now we'll go with the hiding strategy and start looking into why exactly Ember is rendering in two spots instead of just

[2016-05-09 18:04] BenjaminHorn commented on #55
Ember      : 2.4.5
Ember CLI: 2.3.0

I managed to hide it with CSS, and it works for now, but it would be nice to have a better solution.

[2016-06-27 21:01] pzuraq commented on #55
@BenjaminHorn I am unable to reproduce this problem in the Liquid Tether demo pages, check out this branch to see the test scenario I tried to setup for it: https://github.com/pzuraq/liquid-tether/tree/nested-route-duplication-bug

Can you submit an example of the problem in action? If not I'm going to have to close this issue for now.

[2016-06-29 06:21] BenjaminHorn commented on #55
It is gone now. Probably it was a bug at **my** side.

[2016-06-29 06:21] #55 closed

[2016-07-06 15:42] knownasilya opened #57 "Liquid target positioning seems off with 1.x"
I've updated bootstrap-modal to 1.x, and the backdrop appears like 50 px below the top and then jumps to the top.

https://github.com/knownasilya/bootstrap-modal

[2016-07-06 15:56] knownasilya commented on #57
Nvm, fixed it with some extra styles..

[2016-07-06 15:56] #57 closed

[2016-08-04 00:01] pzuraq opened #58 "Regression in latest Liquid Fire"
Components are torn down before liquid-tether animations complete when using with the latest liquid-fire version.

[2016-08-12 02:44] snewcomer opened #59 "Acceptance test following integration test"
`.liquid-target-container` from liquid-wormhole class is present in an integration test after acceptance test runs.  If the other way around, it isn't present.  Thus the context of `this` in the integration test is the above and not the application and results in failing tests.

Lmk if you want an integration test as well to play with and I can get it up here.

![screen shot 2016-08-11 at 7 27 56

[2016-08-12 16:27] pzuraq commented on #59
hmm, interesting. There's some cleanup that must be getting done in integration tests that isn't happening in acceptance tests. I'll take a look, an example integration test would be really helpful.

[2016-08-16 18:25] davewasmer opened #60 "scrollParent constraints not respected"
It appears that any constraints that target `'scrollParent'` are not respected. My best guess is that this is because the wormhole warps the element outside the expected scrollParent, so Tether.js has sees the window itself as the scrollParent.

I'm not sure there's an easy solution here. Would it be possible to supply your own liquid tether wormhole target? If that was the case, you could just in

[2016-08-16 18:38] pzuraq commented on #60
Yeah, that makes sense. `liquid-wormhole` warps everything to the top level of the DOM, and then `liquid-tether` applies the tether after the warp.

It may take a bit more work than just being able to place a `liquid-target` manually. I actually forked Tether.js to make it so we could manage tethered element positioning directly. Normally, tether's will position themselves relative to the window,

[2016-08-17 17:19] knownasilya opened #61 "Option to place wormhole into another location"
Basically trying to have the modals show up in the acceptance tests, by having them appear inside the testing container element instead of the body.

[2016-08-17 18:21] pzuraq commented on #61
The modal container should be placed relative to the application root, not the body necessarily. It should be in the testing container. Is that not occuring in your tests?

[2016-08-17 18:25] pzuraq commented on #61
Because of the fixed styles applied to the modal container, it may appear that they are being positioned relative to the body and not the test container. Not sure if that's what you're seeing.

[2016-08-17 18:30] knownasilya commented on #61
Will check again (more closely :)) and get back to you.

[2016-08-23 19:26] kylemellander commented on #59
I'm also experiencing this issue.  Spent a lot of time tracking this down :)

[2016-08-23 19:26] bs-jenkins commented on #59
I'll get up an integration test in the next few hrs then!

[2016-08-23 21:08] snewcomer commented on #59
@pzuraq Noticing that `.liquid-target-container` is gone when I add an integration test to the dummy app. There is probably some differences from our app to this simple dummy app setup that I am missing.  Any thoughts?

[2016-08-23 21:28] kylemellander commented on #59
I believe that the integration tests tear down the `rootElement` correctly, but the acceptance tests don't.  We have an issue where always the first integration test that runs after acceptance tests fail (showing that the acceptance test isn't tearing down).

I have thrown a debugger in before the first integration spec runs and after a bunch of acceptance tests and we have about 15 empty liquid-t

[2016-08-26 17:43] pzuraq commented on #61
Any word on this? Triaging issues today, let me know if this is still a problem and if so I'll look into it!

[2016-08-26 18:20] #61 closed

[2016-08-26 18:20] knownasilya commented on #61
Not an issue I think.

[2016-08-26 19:19] pzuraq commented on #59
Tracked down the issue, it has to do with the fact that the `liquid-target-container` is appended outside of the scope of the application. I think this and pzuraq/liquid-wormhole#6 make a strong argument for attaching the container to the application's element instead of rootElement, but I think that'll require a major version revision (theoretically this could affect the positioning and styles of

[2016-09-23 16:26] xcambar opened #63 "Transitions with dynamic targets"
Hi,
I'm building an onboarding tour for an application, trying to use the liquid-tether transitions with the following template:

[code]

and the following `transition.js`

[code]

As you can see in the template above, the target is bound to a variable, contrary to all the examples you provide, in which you use a `showFirstFlytoDialog`, `showSecondFlytoDialog` (which I'm trying to avoid as much as

[2016-09-23 16:31] pzuraq commented on #63
I like the idea and the API! Very clean and simple. I'll see if I can make this happen, working on v2 right now so it should be possible, assuming I can figure out how to make tether behave.

[2016-09-23 16:41] xcambar commented on #63
Thanks for the comment, very appreciated 😄 .
As I realise it does not seem to be a feature _yet_, I'll try to have a look as well.

[2016-09-23 21:02] pzuraq commented on #63
So it looks like this is going to require a fairly large change to the API for `toValue` and `fromValue`. Currently you can't really transition from a wormhole to itself, liquid fire just doesn't recognize that there was a change so no transition occurs. I'm going to dig into this, would like to get it shipped in v2.

[2016-09-23 22:47] pzuraq commented on #63
@xcambar So the way I'm thinking we can solve this is by adding a new parameter to the component, `meta`. This field would have to be an object, and it would contain all of the values you want to match on in your transitions.

So, your example above would become:

[code]

This is something I've been thinking about doing for a while, since passing in the entire component to the `toValue`/`fromValue

[2016-09-23 22:59] pzuraq commented on #63
Actually, we can do it without it being an object. It can be whatever value you want it to be. We could even name it `value` so our helpers actually make sense.

[2016-09-24 04:31] pzuraq commented on #59
@snewcomer @kylemellander Ok, beta 2 is out now and the new docs are up! This issue should be fixed there, let me know if you have any feedback or questions. I'll close this once v2.0.0 is released.

[2016-09-28 17:20] bryanhickerson opened #65 "Access to old docs"
I'm not ready to migrate to v2, and I still need access to the v1 documentation. Is there some way to access it?

[2016-09-28 17:23] pzuraq commented on #65
The docs on in the dummy app, for now you can clone the repo, checkout the support branch, and run the dummy app to see them locally:

[code]

I'll see if I can figure out a way to get them hosted again somewhere as well.

[2016-09-28 17:23] pzuraq commented on #63
This is solved by liquid-tether 2 beta 2! Thanks again for the suggestion, I think it works wonderfully 👍

[2016-09-28 17:23] #63 closed

[2016-09-28 17:24] pzuraq commented on #58
This is fixed in liquid tether 2

[2016-09-28 17:24] #58 closed

[2016-09-28 17:25] pzuraq commented on #60
@davewasmer this should be fixed in liquid-tether 2, can you confirm?

[2016-09-29 07:24] xcambar commented on #63
It does indeed, congrats!

Great new doc, by the way.

[2016-10-08 00:38] egee-irl opened #66 "Documentation is woefully inaccurate"
The documentation for this plugin is grossly sparse and misleading at worst. There are references to adding liquid-tether to both templates _and_ components in different sections of the interactive documentation. The parameters section claims there are only two required parameters but another section claims there are three.

The documentation also assumes the user has prior experience with _both_

[2016-10-08 00:51] pzuraq commented on #66
Are you using the beta for v2? Not sure where you read that three parameters are required. If you are using v1, three were required back then, but now all you need are `target` and `attachment` to actually use a tether.

If you want to add animations, you do have to use Liquid Fire. I do link to it on the first page, and I don't believe it's Liquid Tether's responsibility to explain how Liquid Fir

[2016-10-10 16:19] #66 closed

[2016-11-09 17:43] jfarlow opened #69 "Maybe should check target to ensure it exists before tethering"
(I've fixed my own code to avoid the situation, but this might be a useful check to consider.)

In addTether(bodyElement) function, the target is checked to ensure it is not null, but does not seem to check whether the target is actually in the DOM.

In this way, when there are dynamic tethers/targets between various pages, it is possible for a page to request a target that is no longer on the DOM

[2016-11-09 17:51] pzuraq commented on #69
I do think this should throw an error, if the DOM selector isn't there then there should be a clear reason for the failure. If I remember correctly though this isn't so clear in Tether itself. We can add an assert that throws an error with a clear message about the selector not existing.

[2016-11-15 10:45] danilovaz opened #70 "TypeError: getViewBounds is not a function"
`Liquid-Tether: 2.0.0` doesn't works with `Ember 2.9.0`

I'm also update to `Liquid-Fire: 0.26.4`

When click popup/popover get this error: `TypeError: getViewBounds is not a function`

[2016-11-15 17:02] pzuraq commented on #70
Interesting, I'll dive into this asap. Seems like it could be a pretty big issue.

[2016-11-18 17:02] danilovaz commented on #70
Yes, I think so. I'll try to do some tests too.

[2016-11-19 01:12] pzuraq commented on #70
Yeah, so this seems to just be a bug in liquid-fire v0.26.1

https://github.com/ember-animation/liquid-fire/issues/510

Updating to the latest should fix it, I'm making a PR that does that for the repo

[2016-11-19 02:16] #60 closed

[2016-11-19 02:16] #59 closed

[2016-11-19 02:42] #69 closed

[2016-11-19 02:42] #70 closed

[2016-12-01 19:58] bryanhickerson commented on #65
Upgraded to v2, no longer need access to old docs.

[2016-12-01 19:58] #65 closed

[2017-01-25 05:24] davewasmer opened #74 "Window horizontal scroll bars appear when tethers are active"
This is an issue with the underlying library, see pzuraq/liquid-wormhole#22. Just filing this here in case others encountered this issue like I did, assumed it was something with this library directly, and try searching the issues here.

@pzuraq feel free to close this if you'd rather not clutter the issues here.

[2017-06-01 18:59] knownasilya opened #76 "tether for notifications"
Looking to setup a tether for notifications that animate in, but can accumulate, so
more then one notification can be visible. Is there any way to do this? I've tried a single tether for all notifications (only the first notification is animated) and a tether for each notification, which makes them overlap.

[2017-06-01 19:10] pzuraq commented on #76
You may be able to accomplish this by having each individual notification be a `liquid-tether` and by modifying the parameters of the notifications, like `offset`.

For instance, when you render the first notification (let's say in the upper right corner of the screen), it could have offset `0 0`, and when you render the second notification, you could bump the offset by the height of the new notif

[2017-06-22 18:00] abhisheksett opened #77 "Keyboard not working in Android"
We are using liquid-tether version 2.0.3 and we are facing issue with keyboard in Android. We have text boxes inside liquid-tether container and when we focus on the text box, keyboard comes up and immediately goes away. The issue was not there with 1.1.0 version.

[2017-06-22 18:04] pzuraq commented on #77
Does the issue appear on any other mobile browsers? Which versions of Android and which web browsers? And how are you focusing the textbox, manually or programmatically?

[2017-06-22 18:20] abhisheksett commented on #77
We have created hybrid app using Cordova and tested in 4.4.4 and 5.1.1. We are focusing textbox manually. Surprisingly the behavior differs in different OEM's. For example, the issue is consistent in Samsung, Lenovo devices, whereas it works fine in Redmi devices.

[2017-06-22 18:25] pzuraq commented on #77
Different OEMs = slightly different browsers, so it makes sense that this would only pop up on a subset of machines. I don't have those devices so I can't test it out myself, but if you can reproduce in any browser on iOS, or a desktop browser, I'm happy to dive in.

What's weird to me is that this is happening when you _manually_ (i.e. using your finger) touch the element to focus it. Nothing sho

[2017-06-22 18:34] abhisheksett commented on #77
We have tested the app in iOS and it works fine. We have tried to find the issue and here is our observation:
When we focus into the textbox, the keyboard comes up and it triggers window resize event. The resize event triggers focus out which eventually hides the keyboard. We have no custom logic written. The same textbox component works fine when it's placed outside tether container.

[2017-06-22 18:37] pzuraq commented on #77
Interesting. `liquid-tether` doesn't have any logic that fires on resize events, but Tether.js probably does so that might be the root of it. Can you figure out where the resize event is being started?

[2017-06-28 08:57] abhisheksett commented on #77
Yes, the resize event gets triggerred from Tether.js. Tether tries to handle resize with a fix which triggers focus out.

[2017-06-28 17:15] pzuraq commented on #77
Ok, so it's probably a problem with Tether.js then. Can you checkout `v2.0.1` of this library to see if it still has the issue? I want to see if the bug was introduced recently in Tether or if it's older.

Either way, you'll probably need to submit a fix to Tether.js. Alternatively, you can use the underlying `liquid-wormhole` library which does all of the animation work, but doesn't do positionin

[2017-06-29 04:53] abhisheksett commented on #77
Did you mean to try v2.0.2? Because v2.0.1 is not available.

[2017-06-29 17:25] pzuraq commented on #77
https://github.com/pzuraq/liquid-tether/commit/40ce878658a4181d1b6dab5b57342ba717d0fa8f

[2017-09-27 17:26] samselikoff opened #78 "No transition on application's first render"
Amazing addon!

I'd love for the library to support disabling animations on application initial render, similar to how Liquid Fire works. If you look at this page from the docs

http://pzuraq.github.io/liquid-tether/#/docs/routed-tethers/step-one

you'll see the modal animates in. I think it should be disabled on first render by default, with options to initially animate.

I solved this in my app

[2018-01-29 14:18] jacobq opened #81 "Upgrade ember-cli-htmlbars & ember-cli-babel to remove deprecation warning"
The current release (2.0.6) triggers an annoying deprecation warning w/ recent versions of Ember that would be fixed by upgrading to the latest releases of `ember-cli-babel` (6.11.x) and `ember-cli-htmlbars` (2.x).

[code]

The deprecation warning looks like this and is described [here](https://github.com/ember-cli/ember-cli-version-checker/issues/48):
[code]

[2018-03-25 17:26] samselikoff opened #82 "Cannot read property 'commit' of null"
Couldn't track this down for now, but working in addon-docs and there was some weird thing happening, not sure if it was an interaction with modal-dialog (bc I was using `liquid-tether` via modal-dialog). But wanted to get this down.

[2018-04-04 17:10] pzuraq commented on #82
Was this a run time error or build error? Seems weird, there are no properties named `commit` in LT, could be coming from Liquid Fire..

[2018-04-14 20:49] pzuraq commented on #81
Closed via #83

[2018-04-14 20:49] #81 closed

[2018-04-17 07:48] rahul9fret opened #84 "The scrollbar resets in a liquid tether dialog, when the user resizes the window or uses the window scroll"
I have created a dialog and tethered it to a button. There is a scrollbar in the dialog.

1. Use the scrollbar in the dialog.
2. Reset window size or use the window scrollbar
3. Notice that the scrollbar in the dialog returns to its original position.

[2018-05-17 11:44] lolmaus commented on #51
Two years later, I need this again. Is conveniently accessing `Tether.position()` without `/* global Tether */` still unavailable in the addon?

Please reopen.

[2018-05-17 16:42] pzuraq commented on #51
open to suggestions for solving this, I think the simplest path forward would be wrapping the Tether global in a module: `import Tether from 'tether';`

[2018-08-16 11:45] lolmaus commented on #84
I can't reproduce that. Can you create a reproduction repo with a demo?

[2018-08-16 11:48] lolmaus commented on #84
Are you sure you're not wrapping your `{{#liquid-tether}}` in a conditional that causes it to be rerendered?